<div class="container">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body shadow">
        <h2 class="text-center">ประวัติเซ็นเซอร์</h2>
        <hr>
        <div class="row">
          <div class="col-md-12">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>ลำดับ</th>
                  <th>อุณหภูมิดิน</th>
                  <th>อุณหภูมิ</th>
                  <th>ความชื้น</th>
                  <th>ความเเรงลม</th>
                  <th>เเสงเเดด</th>
                  <th>สภาพอากาศ</th>
                  <th>วันเวลา</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>30</td>
                  <td>2</td>
                  <td>25</td>
                  <td>32</td>
                  <td>13</td>
                  <td>มีฝกตก</td>
                  <td>1/23/2500</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
