<div class="container">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body shadow">
        <h2 class="text-center">กราฟสรุปผล</h2>
        <hr>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="panel panel-success hover-show" (click)="OnShowData(6,'อุณหภูมิดิน')">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-3 pading">
                    <i class="wi wi-small-craft-advisory fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right" *ngIf="soil">
                    <div class="huge">{{soil>0?soil:0}}
                      <span>ํ</span>
                    </div>
                    <div>องศาเซลเซียส</div>
                    <div>อุณหภูมิดิน</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-md-offset-2 box-weather">
            <div class="col-md-6 text-center" *ngIf="!raining">
              <i class="wi wi-day-sunny fa-5x" style="color:yellow;"></i>
            </div>
            <div class="col-md-6 text-center" *ngIf="raining">
              <i class="wi wi-day-rain-wind fa-5x" style="color:rgb(50,133,201);"></i>
            </div>
            <div class="col-md-6 text-right">
              <p class="title">สภาพอากาศ</p>
              <p *ngIf="!raining">เเสงเเดดสดใส</p>
              <p *ngIf="raining">มีฝนตก</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="panel panel-raindrops hover-show" (click)="OnShowData(5,'ปริมาณน้ำฝน')">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-3 pading">
                    <i class="wi wi-raindrops fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right" *ngIf="moisture_level">
                    <div class="huge">{{moisture_level}}
                    </div>
                    <div>ปริมาณน้ำฝน</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- temp -->
        </div>
        <div class="row">
          <!-- temp -->
          <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary hover-show" (click)="OnShowData(1,'อุณหภูมิ')">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-3 pading">
                    <i class="wi wi-thermometer fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right" *ngIf="temp">
                    <div class="huge">{{temp>0?temp:0}}
                      <span>ํ</span>
                    </div>
                    <div>องศาเซลเซียส</div>
                    <div>อุณหภูมิ</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- moisture -->
          <div class="col-lg-3 col-md-6">
            <div class="panel panel-info hover-show" (click)="OnShowData(2,'ความชื้น')">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-3 pading">
                    <i class="wi wi-humidity fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right" *ngIf="moisture">
                    <div class="huge">{{moisture}}</div>
                    <div>ความชื้น</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- wind -->
          <div class="col-lg-3 col-md-6">
            <div class="panel panel-danger hover-show" (click)="OnShowData(3,'ความเเรงลม')">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-3 pading">
                    <i class="wi wi-wind-beaufort-0 fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right" *ngIf="wind">
                    <div class="huge">{{wind>0?wind:0}}</div>
                    <div>km/h</div>
                    <div>ความเเรงลม</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- uv -->
          <div class="col-lg-3 col-md-6">
            <div class="panel panel-warning hover-show" (click)="OnShowData(4,'ระบบเเสงเเดด')">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-4 pading">
                    <i class="wi wi-hot fa-5x"></i>
                  </div>
                  <div class="col-xs-8 text-right" *ngIf="uv">
                    <div class="text-center box-uv uv1-2" *ngIf="uv >=0 && uv <=2">
                      Low
                    </div>
                    <div class="text-center box-uv uv3-5" *ngIf="uv >=3 && uv <=5">
                      Moderate
                    </div>
                    <div class="text-center box-uv uv6-7" *ngIf="uv >=6 && uv <=7">
                      High
                    </div>
                    <div class="text-center box-uv uv8-10" *ngIf="uv >=8 && uv <=10">
                      Very High
                    </div>
                    <div class="text-center box-uv uv11" *ngIf="uv >= 11">
                      Extreme
                    </div>
                    <div>ระบบเเสงเเดด</div>
                    <div>เเสงเเดด</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            Select date for image.
            <hr>
            <select name="showImg" #showImg multiple class="form-control"  style="height:290px;" (click)="OnChangeImage(showImg.value)">
              <option *ngFor="let imagess of images" value="{{imagess.image}}">{{imagess.create_dt |  date:'dd/MM/yyyy' }}</option>
            </select>
          </div>
          <div class="col-md-6">
            <div class="image-show" *ngIf="image">
              <img [src]="baseUrlimg+image">
            </div>
            <div class="image-show" *ngIf="!image">
              <img src="assets/images/no-thumbnail.png">
            </div>
          </div>
          <div class="col-md-4">
            <agm-map [latitude]="lat" [longitude]="lng">
              <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-modal-grap *ngIf="OpenModal" [Open]="OpenModal" [Data]="DataShow" [Labels]="Label" (Close)="OnCloseModel()"></app-modal-grap>
