.huge{
    font-size: 25px;
}
.wi-5x{
    font-size: 60px;
}
.pading{
    padding: 10px;
}
.box-weather{
    padding: 25px;
    .title{
        font-size: 25px;
    }
}
.image-show{
    width: 100%;
    img{
        width: 100%;
        height: 350px;
        object-fit: cover;
    }
}
agm-map {
    height: 350px;
  }