<div class="container">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body shadow">
        <h2 class="text-center">ตั้งค่า เซ็นเซอร์</h2>
        <hr>
        <div class="row setting-sensor">
          <form [formGroup]="FormSetting" (submit)="OnSubmit()">
            <div class="col-md-10 col-md-offset-1">
              <div class="col-md-12">
                <div class="row icon-setting">
                  <div class="col-md-4">
                    <i class="wi wi-time-3 fa-5x" style="color:#31708f;"></i>
                  </div>
                  <div class="col-md-5">
                    <h4>เซ็นเซอร์</h4>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <input type="number" formControlName="sensor" class="form-control">
                      <span>วินาที</span>
                    </div>
                  </div>
                </div>
                <div class="row icon-setting">
                  <div class="col-md-4">
                    <i class="fas fa-images fa-5x" style="color:#12b41e;"></i>
                  </div>
                  <div class="col-md-5">
                    <h4>กล้อง</h4>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <input type="time" formControlName="time" class="form-control">
                      <span>นาฬิกา</span>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row text-right">
                  <button class="btn btn-success" type="submit"><i class="fas fa-save"></i> บันทึก</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
